/.idea
.git
.svn
_svn
.CVS
.arch-params
.bzr
_darcs
.hg
.monotone
.svn
_svn
.settings
.buildpath
.project
.cache
nbproject
.netbeans
catalog.xml
/vendor
/app/bootstrap.php.cache
/app/phpunit.xml
/app/config/parameters.yml
/app/config/parameters_internal.yml
/app/logs
/app/cache
/app/hermes_mockup
/web/bundles
/web/js
/web/css
.DS_Store
__MACOSX
