<!DOCTYPE html>
<html class="no-js">
    <head>
        {# hard metas #}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {# title #}
        <title>{% block titleHead %}Hello world! This is HTML5 Boilerplate{% endblock %}</title>
        {# page metas #}
        {% block metasHead %}
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

        {# stylesheets #}
        {% block stylesheets %}
            {% stylesheets
                '%kernel.root_dir%/../vendor/twitter/bootstrap/less/bootstrap.less'
                '%kernel.root_dir%/../vendor/twitter/bootstrap/less/responsive.less'
                'bundles/artefactlabshtml/css/main.less'
                output='css/compiled/main.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        {#<!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->#}

        <div class="container">
            {% block body %}
                <!-- Add your site or application content here -->
                <p>Hello world! This is HTML5 Boilerplate.</p>
            {% endblock %}
        </div>

        {% block javascripts %}
            {% javascripts
                '%kernel.root_dir%/../vendor/jquery/jquery/jquery-1.11.0.min.js'
                '%kernel.root_dir%/../vendor/twitter/bootstrap/js/bootstrap-affix.js'
                '%kernel.root_dir%/../vendor/twitter/bootstrap/js/bootstrap-alert.js'
                '%kernel.root_dir%/../vendor/twitter/bootstrap/js/bootstrap-button.js'
                '%kernel.root_dir%/../vendor/twitter/bootstrap/js/bootstrap-carousel.js'
                '%kernel.root_dir%/../vendor/twitter/bootstrap/js/bootstrap-collapse.js'
                '%kernel.root_dir%/../vendor/twitter/bootstrap/js/bootstrap-dropdown.js'
                '%kernel.root_dir%/../vendor/twitter/bootstrap/js/bootstrap-modal.js'
                '%kernel.root_dir%/../vendor/twitter/bootstrap/js/bootstrap-scrollspy.js'
                '%kernel.root_dir%/../vendor/twitter/bootstrap/js/bootstrap-tab.js'
                '%kernel.root_dir%/../vendor/twitter/bootstrap/js/bootstrap-tooltip.js'
                '%kernel.root_dir%/../vendor/twitter/bootstrap/js/bootstrap-popover.js'
                '%kernel.root_dir%/../vendor/twitter/bootstrap/js/bootstrap-transition.js'
                '%kernel.root_dir%/../vendor/twitter/bootstrap/js/bootstrap-typeahead.js'
                output='js/compiled/vendor.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>